{
  "openapi": "3.1.0",
  "info": {
    "title": "epitaxy, drug supply risk",
    "version": "0.1.0",
    "description": "We claim: this government supplier has an active FDA shortage or recall. We do NOT claim that a given contract delivers a given drug. Every joined row carries confidence exact, probable or weak. A cross source join is never exact. The free tier needs no signup and no key."
  },
  "servers": [
    {
      "url": "https://drugs.crossgrain.xyz",
      "description": "segment drug-supply-risk, paths without prefix"
    },
    {
      "url": "https://drugs.crossgrain.xyz/drugs",
      "description": "the same segment with its prefix, equivalent"
    }
  ],
  "paths": {
    "/v1/meta": {
      "get": {
        "summary": "data freshness, live segment count, last run",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_confidence",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "probable",
                "weak"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "zoznam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "payment required"
          },
          "404": {
            "description": "segment reserved but not live yet"
          }
        }
      }
    },
    "/v1/shortages": {
      "get": {
        "summary": "FDA drug shortages",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_confidence",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "probable",
                "weak"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "zoznam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "payment required"
          },
          "404": {
            "description": "segment reserved but not live yet"
          }
        }
      }
    },
    "/v1/recalls": {
      "get": {
        "summary": "FDA drug recalls and enforcement reports",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_confidence",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "probable",
                "weak"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "zoznam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "payment required"
          },
          "404": {
            "description": "segment reserved but not live yet"
          }
        }
      }
    },
    "/v1/contracts": {
      "get": {
        "summary": "federal drug contracts, PSC 6505",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_confidence",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "probable",
                "weak"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "zoznam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "payment required"
          },
          "404": {
            "description": "segment reserved but not live yet"
          }
        }
      }
    },
    "/v1/exposure": {
      "get": {
        "summary": "the join: contract supplier with a shortage or recall",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_confidence",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "probable",
                "weak"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "zoznam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "payment required"
          },
          "404": {
            "description": "segment reserved but not live yet"
          }
        }
      }
    },
    "/v1/mcp": {
      "post": {
        "summary": "MCP, streamable HTTP transport",
        "responses": {
          "200": {
            "description": "JSON-RPC"
          }
        }
      }
    },
    "/v1/exposure/company/{company_id}": {
      "get": {
        "summary": "every join row for one company",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "zoznam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "payment required"
          },
          "404": {
            "description": "segment reserved but not live yet"
          }
        }
      }
    },
    "/v1/exposure/contract/{award_id}": {
      "get": {
        "summary": "every join row for one federal award",
        "parameters": [
          {
            "name": "award_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "zoznam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "payment required"
          },
          "404": {
            "description": "segment reserved but not live yet"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
